// Imports
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// Variables
$primary-color: #1a342a;
$secondary-color: #dfd5d5;

.menus-grid {
  display: flex;
  flex-direction: column;
  .menus-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: $primary-color;
    .menus-content-txt {
      margin-top: 30px;
      h1 {
        max-width: 95%;
      }
    }
    .laptop-menus-btn-container {
      display: none;
    }
  }
  .menus-img {
    margin: 30px 0;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .menus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // Making 1fr to accommodate for the 100vh height of div
    grid-template-rows: 1fr;
    grid-template-areas: "menusImg menusContent";
    width: 100%;
    margin-top: 0;
    .menus-content {
      grid-area: menusContent;
      align-self: center;
      width: 80%;
      margin: auto;
      .laptop-menus-btn-container {
        display: flex;
        flex-direction: column;
      }
    }
    .laptop-menus-btn {
      display: flex;
      justify-content: center;
      align-self: center;
      margin: auto;
      text-align: center;
      margin-top: 30px;
      transition: 0.3s;
      &:hover {
        transform: translateY(-5px);
      }
    }
    .menus-img {
      grid-area: menusImg;
      width: 100%;
      height: 100%;
      margin: 0;
      max-width: 100%;
    }
    .menus-btn {
      display: none;
    }
  }
}
